#contenair-all{
    background-color: #f7f7f7;
    margin: 0px;
    padding:0px;
    font-size:100%;
    vertical-align: baseline;
    width:100%;
    font-family: 'Roboto', sans-serif;
}
/* CSS pour le logo et le menu */
#container-logo-nav{

    width:100%;
    padding-right:2%;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height:70px;
   justify-content: flex-end;
   background-color: #ffffff;
}

.logo{
    height: 95%;
    flex-grow: 2;
    margin-bottom: 1%;
    margin-right: 2%;
}

nav{
    height:70px;
    flex-grow: 2;
    margin-left:2%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin:0%;
}

nav ul{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    align-items: center;
    
}

nav li{
    list-style-type:none;
    text-align: center;
    
    margin-left: 1%;
    margin-right: 1%;
    font-size: 1.1rem;
}
.list-formation{
    display:none;
    background-color: white;
    color: #336699;
}


a{
    vertical-align: baseline;
    text-decoration: none;
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    color:#336699;
    font-family: 'Roboto', sans-serif;
}

a:hover{
    filter: brightness(200%);
}

button:hover{
    filter: brightness(120%);
}

.loupe{
    
    width: 120%;
    vertical-align: baseline;
    align-items: center;
}

/* CSS image de présentation */
#presentation{
    width:100%;
    margin: 0px;
    padding:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#image{
    width:50%;
    justify-content: flex-end;
    background-color: pink;
}
.gens{
    width: 100%;
    justify-content: flex-end;    
}

#inscription{
    background-color: #336699;
    width:50%;
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content:center;
    padding:5%;
    
}

p{
    color: white;
    margin-left:5%;
    margin-right:5%;
    align-items:center;
    align-content:center;
    font-size: 1.5rem;
    text-align: justify;
}

#container-body{
    text-align: center;
}
#presentation a #binscription{
    width:100%;
    height:50px;
    border-radius: 50px;
    border: 0px;
    color: white;
    background-color: #ff2063;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:0%;
    font-size: 1em;
}
/* partie centrale des pages */

h1 {
   color: #336699;
   font-weight: bold;
}
#bloc-formation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:3%;
}

.formation{
    width:25%;
    align-items:center;
    align-content:center;
    background-color: #ffffff;
    margin:1%;
    padding:1% 2% 1% 2%
}
.formation h2{
    color:#336699;
    font-size: 1.2em;
    font-weight: bold; 

}
.formation p{
   color:#336699;
    font-size: 1.1em; 
}
 .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin:2%;
    padding:1% 4% 1% 4%;
 }

 .info p, .info h2{
    color:#336699;
 }
#button-jaune{
    width:20%;
    height:50px;
    border-radius: 50px;
    border: 0px;
    color: white;
    background-color: #ffca4b;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding:1%1%1%1%;
    font-size: 1em;
}

.formation #button-jaune{
    width:80%;
    height:50px;
    border-radius: 30px;
    border: 0px;
    color: white;
    background-color: #ffca4b;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-left:5%;
    padding-right:5%;
    
    font-size: 1em;
}

#temoignage{
    color:white;
    background-color: #ffa000;
    padding-bottom:3%;
}

#temoignage h1{
    color:white;
    text-align:center;
    padding:1% 2% 1% 2%
}

#video{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* CSS pour le footer */
footer{
    background-color: #313131;
    color:white;
}

#resume-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom:3%;
    padding-top:3%;
}

#resume-menu h1{
    margin:5%2%4%0%;
    color:white;
    font-size:1.1rem ;
    font-family: 'Roboto', sans-serif;
   
}

#resume-menu a{
    margin:2%;
    color:white;
}

#resume-menu p{
    margin:2%;
    color:white;
    font-size: 1rem;
}

#logo-socialmedia{
    padding-top: 5%;
}

.logo-media{
    border-radius: 10%;
    margin:3% 1% 1% 1%;
}

#logo-socialmedia, #lien-nav, #les-formations, #information{
    display: flex;
    flex-direction: column;
    width:20%;
}

#resume-menu button{
        width:60%;
        height:30px;
        border-radius: 2px;
        border:solid;
        border-color: white;
        color: white;
        background-color: #313131;
        text-align: center;
        text-transform: capitalize;
        margin-top: 3%;
        padding-left:5%;
        padding-right:5%;
        padding-bottom:2%;
        font-size: 1rem;
}
#copyright{
    color:white;
    background-color: black;
    font-size: 0.8rem;
    padding-top:1px;
    padding-bottom:1px;
}
#copyright p{
    font-size: 0.9rem;
}

/*bandeau aws*/

#bandeau{
    background-image:url("images/bandeau_aws.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#col-pub{
    width:30%;
    text-align: center;
    margin:2% 1% 2% 3%;
}

.logo-bandeau, .logo-aws{
    width:80%;
}
.logo-aws{
    margin:5% 1% 5% 1%;
}

#bandeau h1{
    color:white;
    font-size: 1.7rem;
}
#bandeau p{
    font-size: 1.2rem;
}
#bandeau button {
        width:60%;
        height:35px;
        border-radius: 2px;
        border-color: white;
        color: white;
        background-color: #e17b32;
        text-align: center;
        text-transform: capitalize;
        margin-top: 3%;
        padding-left:5%;
        padding-right:5%;
        padding-bottom:2%;
        font-size: 1rem;
}

/* partie principale / corps de la page */
#container-body-aws button {
    width:20%;
    height:45px;
    margin-left: 40%;
    border-radius: 2px;
    border-color: white;
    color: white;
    background-color: #e17b32;
    text-align: center;
    text-transform: capitalize;
    
    font-size: 1rem;
}

#text-aws{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    padding: 1% 10% 1% 10%;
    justify-content: center;
}

.col1, .col2{
    width:40%;
}

#container-body-aws h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:grey;
}
#container-body-aws h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:grey;
}

#text-aws p {
    font-family: 'Roboto', sans-serif;
    color:grey;
    font-size: 1em;
    line-height:1.2em;
}
h1{
    text-align: center;
}
/*deuxième container*/
#container-body-aws2{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:2% 10% 2% 10%;
    margin:1% 0% 0% 0%;
}

#container-body-aws2 .icone {
    width:20%;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    margin-left:25%;
}

.element{
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 25%;
    margin:1%;
    padding:2%5%2%5%;
    
}
.element p{
    color:#336699;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
/*trosieme container*/
#element1{
    background-color: #e17b32;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:2% 10% 2% 10%;
    margin:0% 0% 0% 0%;
    
}
#container-body-aws3{
    font-family: 'Roboto', sans-serif;
    background-color: #e17b32;
    padding-top:2%;

}
#titre1 h1{
   color: #ffffff; 
   font-family: 'Roboto', sans-serif;
}
#container-body-aws3 .element{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    
}

#container-body-aws3 ul{
    display: flex;
    flex-direction: column;
    line-height:2em;
    font-size: 0.9em;
    text-align: justify;
    list-style-type: disc;
    font-family: 'Roboto', sans-serif;
    
}

#container-body-aws3 li{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    color: #e17b32;
    line-height:1.8em;
    font-size: 1em;
    text-align: justify;
    text-justify: auto;
    list-style-type: disc;
    margin:0% 10% 0% 0%;
}
/*quatrieme container*/
#container-body-aws4{
    background-color: rgb(227, 225, 225);
    padding-top:2%;
    font-family: 'Roboto', sans-serif;
}
#container-body-aws4 h1{
    color:#e17b32;
}

#element2{
    background-color: rgb(227, 225, 225);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:2% 10% 2% 10%;   
    
    font-family: 'Roboto', sans-serif;
}

#container-body-aws4 .element{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

#container-body-aws4 ul{
    display: flex;
    flex-direction: column;
    line-height:2em;
    font-size: 0.9em;
    text-align: justify;
    list-style-type: disc;
    font-family: 'Roboto', sans-serif;
    color: #313131;
}

#container-body-aws4 li{
    display: flex;
    flex-direction: column;
    line-height:1.8em;
    font-size: 1em;
    text-align: justify;
    text-justify: auto;
    list-style-type: disc;
    margin:0% 10% 0% 0%;
    font-family: 'Roboto', sans-serif;
}

#logo-big-entreprise{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding:5% 15% 2% 15%;
}
#logo-big-entreprise .logo-entreprise{
    width:100%;
}

#logo-entreprises{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding:5% 10% 2% 10%;
    flex-wrap: wrap;
}

#logo-entreprises .logo-entreprise{
    width:100%;
    margin:5% 15% 10% 15%;
}

#cma, #smc{
    width:15%;
}

#text-aws2{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    padding: 1% 10% 1% 10%;
    justify-content: center;
    background-color: #F6F6F6;
    justify-content: space-around;
}
#text-aws2 p{
    color: grey;
    font-size:1.1rem;
}
#text-aws2 .col1{
    width:20%;

}

.logo-certif{
    width:60%;
    margin:10% 20% 5% 5%;
}